body {
    font-family: "Open Sans", sans-serif;
}

#bg {
    background-image: url("../../img/background.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#toggler {
    max-width: 40%;
    height: auto;
}

.textLarge {
    font-size: 2rem;
}

.textLarge2 {
    font-size: 1.5rem;
}

.tab-pane {
    margin: auto;
    padding: 2rem;
    overflow: auto;
    height: auto;
}

.tab-content {
    background-color: black;
    font-size: 1rem;
    color: white;
    opacity: 0.5;
    margin: 1rem;
}

.fade {
    transition: opacity .15s linear;
}

.sidebar {
    background-color: #AFC2CC;
    text-align: center;
}

.list-group-item.active {
    background-color: #819550;
    border-color: #819550;
}

.list-group-item {
    background-color: #AFC2CC;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

h2 {
    color: black;
}

h3 {
    text-decoration: underline;
}

#siteLogo {
    border-radius: 100%;
}

a {
    color: white;
}