html {
    font-size: 0.5rem;
}

body {
    background-image: url("../../img/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 576px) {
    html {
        font-size: 0.6rem;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 0.7rem;
    }
  }
  
@media (min-width: 992px) {
    html {
        font-size: 0.8rem;
    }
}
  
@media (min-width: 1200px) {
    html {
        font-size: 1rem;
    }
}
  
body {
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h5 {
    font-family: 'Karla', sans-serif;
}

.headings {
    color: white;
    background-color: #AFC2CC;
    opacity: 0.9;
}

h2 {
    color: black;
}

header h3 {
    color: white;
}

.card-header {
    background-color: #819550;
}

#siteLogo {
    border-radius: 50%;
}

.site-footer {
    padding: 20px 0;
}

#homeSticky {
    border-radius: 20%;
    background-color: #819550;
    background-size: contain;
    color: white;
}

.container-fill {
    max-width: 100%;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}